<section class="footer">
	<div class="info">
		<img id="imgf" src="../images/logo-white.png" alt="">
		<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</h4>
		<hr>
		<h4>2022-2023 © Weather. All rights reserved.</h4>
</div>
	
</section>